<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %} FaleMais {% endblock %}
        </title>
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>